## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
ciudades = ["buenos aires", "madrid", "santiago", "londres", "munich"]
print(ciudades)

['buenos aires', 'madrid', 'santiago', 'londres', 'munich']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

madrid

3) Imprimir por pantalla del segundo al cuarto elemento

In [5]:
print(ciudades[1:4])

['madrid', 'santiago', 'londres']

4) Visualizar el tipo de dato de la lista

In [6]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [8]:
print(ciudades[2:])

['santiago', 'londres', 'munich']

6) Visualizar los primeros 4 elementos de la lista

In [10]:
print(ciudades[0:4])

['buenos aires', 'madrid', 'santiago', 'londres']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [13]:
ciudades.append("madrid")
ciudades.append("bogota")
print(ciudades)
print("no arroja error")

['buenos aires', 'madrid', 'santiago', 'londres', 'munich', 'madrid', 'bogota', 'madrid', 'bogota', 'madrid', 'bogota']
no arroja error

8) Agregar otra ciudad, pero en la cuarta posición

In [14]:
ciudades.insert(3, "paris")
print(ciudades)

['buenos aires', 'madrid', 'santiago', 'paris', 'londres', 'munich', 'madrid', 'bogota', 'madrid', 'bogota', 'madrid', 'bogota']

9) Concatenar otra lista a la ya creada

In [16]:
ciudades.extend(["tokio", "lima"])
print(ciudades)

['buenos aires', 'madrid', 'santiago', 'paris', 'londres', 'munich', 'madrid', 'bogota', 'madrid', 'bogota', 'madrid', 'bogota', 'tokio', 'lima', 'tokio', 'lima']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [18]:
print(ciudades.index("madrid"))

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [20]:
print(ciudades.index("angelo"))

ValueError: 'angelo' is not in list

12) Eliminar un elemento de la lista

In [37]:
ciudades.remove("bogota")
print(ciudades)

['santiago', 'paris', 'londres', 'munich', 'madrid', 'madrid', 'madrid', 'tokio', 'lima', 'tokio', 'lima']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [38]:
ciudades.remove("bogota")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [39]:
u = ciudades.pop()
print(u)

lima

15) Mostrar la lista multiplicada por 4

In [40]:
print(ciudades * 4)

['santiago', 'paris', 'londres', 'munich', 'madrid', 'madrid', 'madrid', 'tokio', 'lima', 'tokio', 'santiago', 'paris', 'londres', 'munich', 'madrid', 'madrid', 'madrid', 'tokio', 'lima', 'tokio', 'santiago', 'paris', 'londres', 'munich', 'madrid', 'madrid', 'madrid', 'tokio', 'lima', 'tokio', 'santiago', 'paris', 'londres', 'munich', 'madrid', 'madrid', 'madrid', 'tokio', 'lima', 'tokio']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [41]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [43]:
print(t[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [45]:
print(20 in t)
print(30 in t)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [50]:
a = "paris"
if( not a in ciudades):
    ciudades.append(a)
    print("se agrego paris")
else:
    print("ya existe paris")

ya existe paris

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [56]:
print(ciudades.count("paris"))
print(t.count(1))

3
1

21) Convertir la tupla en una lista

In [58]:
lt = list(t)
print(lt)
print(type(lt))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [67]:

uno,dos,tres,_, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ =t
print(uno)
print(dos)
print(tres)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [70]:
d = {"ciudad": ciudades,
     "pais": ["brazil", "paraguay", "ecuador", "uruguay", "chile", "peru", "venezuela", "colombia", "mexico", "uruguay", "spain", "italy", "france"]}
print(d)

{'ciudad': ['santiago', 'paris', 'londres', 'munich', 'madrid', 'madrid', 'madrid', 'tokio', 'lima', 'tokio', 'paris', 'paris'], 'pais': ['brazil', 'paraguay', 'ecuador', 'uruguay', 'chile', 'peru', 'venezuela', 'colombia', 'mexico', 'uruguay', 'spain', 'italy', 'france']}

24) Imprimir las claves del diccionario

In [72]:
print(d.keys())

dict_keys(['ciudad', 'pais'])

25) Imprimir las ciudades a través de su clave

In [73]:
print(d["pais"])

['brazil', 'paraguay', 'ecuador', 'uruguay', 'chile', 'peru', 'venezuela', 'colombia', 'mexico', 'uruguay', 'spain', 'italy', 'france']